/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* utilities */

/* content */

#grid {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 8);
  height: calc(100% / 8);
  background-color: grey;
  border: 2px dashed black;
}

.bg-blue{
  background-color: rgb(0, 209, 228);
}
